{% extends 'base.html.twig' %}


{% block title %}Présentation de Sandra{% endblock %}

{% block main %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="content-entete text-gold">
                    <h1 class="text-center">Qui est Sandra?</h1>
                    <h2>Femme moderne, elle aborde une grande palette de compétences</h2>
                    <i class="text-center">C'est ICI que nous aurons la chance de pouvoir présenter le parcours de Sandra dans un long et joli résumé!!!</i>
                </div>
            </div>
        </div>
    </div>

    {% for présentation in allPresentations %}
        <div class="présentations {{ cycle(['Gauche', 'Droite'], loop.index0) }}">
            <div class="container mt-5">
                <h2 class="d-flex justify-content-between align-items-center">
                    <strong>{{ présentation.Titre }}</strong>
                </h2>
                <q><em>{{ présentation.SousTitre }}</em></q>
                <br>
                <span class="toggle-icon" style="cursor: pointer;">Afficher résumé &#9660;</span>
                <div id="articleContent{{ loop.index }}" class="collapse">
                    <p>{{ présentation.Resume }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/toggle.js') }}"></script>
{% endblock %}