{% extends 'base.html.twig' %}

{% block title %}Présentation de Sandra{% endblock %}

{% block main %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 mb-4 mb-md-0">
                <div class="content-entete text-gold text-center">
                    <h1>Qui est Sandra?</h1>
                    <h3>Femme moderne, elle aborde une grande palette de compétences</h3>
                    <i>C'est ICI que nous aurons la chance de pouvoir présenter le parcours de Sandra dans un long et joli résumé!!!</i>
                </div>
            </div>
        </div>

        {% for présentation in allPresentations %}
            <div id="container-presentation">
                <div class="presentation-container">
                    <!-- Titre de la presentation -->
                    <h1 class="presentation-title">{{ présentation.Titre }}</h1>

                    <!-- Sous-titre de l'presentation -->
                    <h3 class="presentation-subtitle"><em>{{ présentation.SousTitre }}</em></h3>

                    <!-- Lien pour afficher le résumé dans un pop-up -->
                    <span class="toggle-icon" style="cursor: pointer;" onclick="openModal('{{ loop.index }}')">
                    <span style="color:gold">&#128366;</span>Afficher résumé<span style="color:gold">&#128366;</span>
                    </span>
                </div>

                <!-- Pop-up modale pour le résumé -->
                <div id="modal{{ loop.index }}" class="modal">
                    <div class="modal-content">
                        <!-- Croix de fermeture -->
                        <span class="close-button">&times;</span>
                        <h2>{{ présentation.Titre }}</h2>
                        <p>{{ présentation.Resume }}</p>
                        <div class="created-at">
                            Publié le : {{ présentation.createdAt|date('d/m/Y') }} à {{ présentation.createdAt|date('H:i') }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

                    <!-- Bouton Retour -->
        <div class="back-button text-right m-4">
            <button onclick="window.location.href='/'" class="btn btn-primary" style="background-color: rgb(42, 46, 51)">
                <i class="bi bi-arrow-counterclockwise"></i> Revenir à l'Acceuil
            </button>
        </div>
    </div>
{% endblock %}
