{% extends 'base.html.twig' %}

{% block title %}Hello VisageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% endblock %}

{% block main %} 
<div class="container introduction">
    <div class="introduction-header">
        <h1 class="introduction-title visage">Et aujourd'hui</h1>
    </div>

    <div class="introduction-content">
        <p>Avec une vie riche et pleine d'expériences diverses, Sandra a toujours su tirer le meilleur parti de la vie! Voici qui elle est à l'heure actuelle. Affichage de ces différentes façettes<p>
    </div>
</div>

{# début de l'affichage du visage spécifique de Sandra
NB: Affichage de l'article nommé "visage" que l'on a grâce à la variable appelée "visage" qui nous a récupéré toutes les infos de cet article via le Repo visageRepository #}
    {# J'affiche mes visages avec un cycle pour les afficher une fois à gauche une fois à droite grâce au CSS. #}

{#     <div class="visageSpecifique">
    <h2><strong>{{ visage.Titre }}</strong></h2>
    <q><em>{{ visage.Resume }}</em></q> #}
{#     <p>{{ visage.Contenu }}</p>
    </div> #}
    
<div class="container visageSpecifique">
    <div class="article-header">
        <h1 class="article-title"><strong>{{ visage.Titre }}</strong></h1>
        {# <p class="article-meta">Publié par <a href="#">Auteur</a> le 19 juin 2024</p> #}
        <em>{{ visage.Resume }}</em>
    </div>
    
    <div class="article-content">
        <p>{{ visage.Contenu }}</p>
</p>
    </div>
    
    <div class="article-tags">
        <span>Tags:</span>
        <a href="#" class="badge badge-primary">Tag1</a>
        <a href="#" class="badge badge-secondary">Tag2</a>
        <a href="#" class="badge badge-success">Tag3</a>
    </div>

        <!-- Bouton Retour -->
    <div class="back-button">
        <button onclick="goBack()" class="btn btn-primary" style="background-color: rgb(255, 255, 255)">
            <i class="fas fa-arrow-left"></i> Revenir aux Visages
        </button>
    </div>
</div>

<!-- Fichier JavaScript global -->
<script src="{{ asset('assets/js/main.js') }}"></script

{% endblock %}