{% extends 'base.html.twig' %}

{% block title %}Visage: {{ visage.Titre }}{% endblock %}

{% block main %} 
    
<div class="container visageSpecifique">
    <div class="article-header visages">
        <h1 class="article-title m-5"><strong>{{ visage.Titre }}</strong></h1>
        {# <p class="article-meta">Publié par <a href="#">Auteur</a> le 19 juin 2024</p> #}
        <h5 class="text-center m-3"><em>{{ visage.Resume }}</em></h5>

        <div class="article-content ml-5 mr-5">
            <p>{{ visage.Contenu }}</p>
            <div class="created-at">
                Publié le : {{ visage.createdAt|date('d/m/Y') }} à {{ visage.createdAt|date('H:i') }}
            </div>

            {# <div class="article-tags">
                <span>Tags:</span>
                <a href="#" class="badge badge-primary">Tag1</a>
                <a href="#" class="badge badge-secondary">Tag2</a>
                <a href="#" class="badge badge-success">Tag3</a>
            </div> #}
        </div>

    </div>
    


        <!-- Bouton Retour Page Visages -->
    <div class="back-button text-right m-4">
        <button onclick="window.location.href='/visages'" class="btn btn-primary" style="background-color: rgb(42, 46, 51)">
            <i class="bi bi-arrow-counterclockwise"></i> Revenir aux Visages
        </button>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<!-- Fichier JavaScript global -->
    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}